* {
    box-sizing: border-box;
}
body{
    margin: 0;
}
.root-box{
    width: 1200px;
    height: 700px;
    margin: 20px auto;
    background: blueviolet;
    white-space: nowrap;
    overflow-x: auto;
}
.Box_1{
    margin: 30px auto;
    height: 600px;
    width: 400px;
    background: red;
    display: inline-block;
    overflow-y: auto;
}
.Box_1::-webkit-scrollbar {
    display: none;
}

.Box_2{
    margin: 20px auto;
    width: 80%;
    height: 220px;
    background: #46e22b;

}
















