ol {
    counter-reset: section;
    list-style-type: none;
}
li::before {
    counter-increment: section;
    content: counters(section,".") " ";
}
.root-number{
    display: inline-block;
}
.root-number-li{
    display: inline-block;
}
.root-number-box{
    width: 1200px;
    height: 700px;
    margin: 20px auto;
    background: blueviolet;
    white-space: nowrap;
    overflow-x: auto;
}
.number-Box-1{
    margin: 30px auto;
    height: 600px;
    width: 400px;
    background: red;
    display: inline-block;
    overflow-y: auto;
    padding: 5px 0 0 5px;
}
.number-Box-1::-webkit-scrollbar {
    display: none;
}
.number-Box-2{
    display: block;
    margin: 20px auto;
    padding: 5px 0 0 5px;
    width: 320px;
    height: 220px;
    background: #46e22b;
}

